[Desktop Entry]
Name=Aekant Browser
Comment=Private, fast, and secure browser
Exec=aekant %u
Icon=aekant
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
StartupNotify=true
